{% extends 'base.html.twig' %}

{% block title %}Hello User!{% endblock %}

{% block body %}
    <!--- parallax --->
    <div class="parallax"></div>
    <!--- cards --->
    <div class="card-deck  background">
        <div class="card-body">
            <div class="row">
                <div class="card text-white bg-dark mb-3">
                    <img src="/img/eventPic1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card text-white bg-dark mb-3">
                    <img src="/img/prague.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Prague - Charles bridge</h5>
                        <p class="card-text">Prague 2009.I will never forget this place because it is where I met my
                            wife for a very first time. We have met on Charles bridge having a long walk by the river
                            and ...</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
                <div class="card text-white bg-dark mb-3">
                    <img src="/img/eventPic5.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="card text-white bg-dark mb-3">
                    <img src="/img/eventPic6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card text-white bg-dark mb-3">
                    <img src="/img/eventPic1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional
                            content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card text-white bg-dark mb-3">
                    <img src="/img/eventPic7.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Scotland 2017</h5>
                        <p class="card-text">During my travels in North area of Scotland, I have got an unique
                            opportunity to become a part of a Celtic tradition celebration called "Samhain". It was
                            breath taking! First they ...</p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
