{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <!--- parallax --->
    <div class="parallax"></div>
    <!--- cards --->
    <div class="card-deck  background">
        <div class="card-body">
            <img src="/img/eventPic7.jpg" class="card-img-top" alt="...">
        </div>
    </div>
    </div>



{% endblock %}
