{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <!--- parallax --->
    <div class="parallax"></div>
    <!--- cards --->
    <div class="card-deck  background">

        <div class="card-body">
            <div class="container">
                <img src="/img/eventPic8.jpg" class="card-img-top" alt="...">
                <div class="text-block">
                    <p class="header">About</p>
                    <p>Once upon a time, there was a web development student named Paul.
                        He did very well in coding. Thanks to that, he was ahead of the class most of the time.
                        But that made him bored from time to time.
                        However, this sparked his creativity and proactivity.
                        He was thinking more and more.
                        About a project that he would be able to enjoy!
                        A project which would improve his skills...
                        And as a bonus.
                        He would create something nice for others.</p>
                    <p>Paul's idea for the project was born - It was a great idea but wait!
                        Paul was more of a back-end developer, he can't help it but he hates front-end.
                        Thus, he wasn't really in the mood to spend his time doing what he didn't like!
                        And so he got another great idea - call Míša!
                        His web development classmate.
                        He told her about his idea and offered her to join in his crazy project!
                        Because Míša loves front-end...
                        It didn't take long before they started planning their future masterpiece.
                    </p>
                    <p> And that is how our idea for this website was born.</p>
                    <h1 class="name">The project</h1>
                    <p>Do you like to listen the stories about your ancestors? Or maybe create something that will memorise important moments in your life for you or your children?</p>
                    <p>Are you tired of the chaos, adds, messy look and spam on social media? It somehow feel less personal, right?</p>
                    <p>Well... sometimes less is more.</p>
                    <p>This is a combination of a Diary / Album / Story book where you can keep your unique thoughts and experiences of your life.
                        Why is it unique? Because it is not about quantity as on social media but about quality.</p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
