{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="background">
        <div class="header"></div>
        <!--- cards --->
        <div class="box">
            <img src="/img/eventPic7.jpg" class="card-img-top cardDashboard" alt="...">
            <div>
                <button type="button" name="newEvent" class="btn1">New event</button>
            </div>
            <div>
                <button type="button" name="newStory" class="btn2">New story</button>
            </div>
        </div>

        <div class="header">
        </div>
    </div>

{% endblock %}
